<div [@routerTransition]>
    <app-page-header [heading]="'Поиск сотрудников'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Таблица</div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Column</th>
                            <th>Column</th>
                            <th>Column</th>
                            <th>Column</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Таблица</div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Column</th>
                            <th>Column</th>
                            <th>Column</th>
                            <th>Column</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        <tr>
                            <td>Row</td>
                            <td>Row</td>
                            <td>Row</td>
                            <td><button>Приглашение</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
