<div [@routerTransition]>
    <app-page-header [heading]="'Поиск сотрудников'" [icon]="'fa-table'"></app-page-header>


    <div class="mat-elevation-z8 list-div-container">

        <input class="nnn" #searching (keyup.enter)="search(searching.value)">

        <button mat-button (click)="search(searching.value)">Поиск</button>

        <div class="example-loading-shade" *ngIf="isLoadingResult">
            <mat-spinner></mat-spinner>
        </div>

        <div class="example-table-container">

            <table mat-table [dataSource]="data" class="example-table">

                <ng-container matColumnDef="pos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Должность</th>
                    <td mat-cell *matCellDef="let result">{{result.position}}</td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Возраст</th>
                    <td mat-cell *matCellDef="let result">{{result.age}}</td>
                </ng-container>

                <ng-container matColumnDef="exp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Опыт работы</th>
                    <td mat-cell *matCellDef="let result">{{result.experience}}</td>
                </ng-container>

                <ng-container matColumnDef="last_j">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Последнее место работы</th>
                    <td mat-cell *matCellDef="let result">{{result.last_job}}</td>
                </ng-container>

                <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <button mat-button *matCellDef="let result" (click)="info(result.id)">Инфо</button>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!--(click)="selection.select(row)"></tr>-->

            </table>

        </div>

        <!--<mat-paginator [length]="resultsLength" [pageSize]="5"-->
                       <!--[pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>-->

    </div>


</div>
