<div [@routerTransition]>
    <app-page-header [heading]="'Поиск сотрудников'" [icon]="'fa-table'"></app-page-header>

    <div class="mat-elevation-z8 list-div-container">

        <input class="nnn" #searching (keyup.enter)="search(searching.value)">

        <select class="m" matNativeControl required (change)="expF($event)">
            <option value="no">Не имеет значения</option>
            <option value="between1And3">От 1 года до 3 лет</option>
            <option value="between3And6">От 3 до 6 лет</option>
            <option value="noExperience">Без опыта</option>
            <option value="moreThan6">Более 6 лет</option>
        </select>

        <select class="m" matNativeControl required  (change)="salF($event)">
            <option value="no">Не имеет значения</option>
            <option value="200#500">От 200k-500k</option>
            <option value="500#700">От 500k-700k</option>
            <option value="700#inf">От 700k</option>
            <option value="0#200">До 200k</option>
        </select>

        <select class="m" matNativeControl required  (change)="srcF($event)">
            <option value="hh">hh.kz</option>
            <option value="linkedin">linkedin.com</option>
        </select>

        <button mat-button (click)="search(searching.value)">Поиск</button>

        <div class="example-loading-shade" *ngIf="isLoadingResult">
            <mat-spinner></mat-spinner>
        </div>

        <div class="example-table-container">

            <table mat-table [dataSource]="data" class="example-table">

                <ng-container matColumnDef="pos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Должность</th>
                    <td mat-cell *matCellDef="let result">{{result.position}}</td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Возраст</th>
                    <td mat-cell *matCellDef="let result">{{result.age}}</td>
                </ng-container>

                <ng-container matColumnDef="exp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Опыт работы</th>
                    <td mat-cell *matCellDef="let result">{{result.experience}}</td>
                </ng-container>

                <ng-container matColumnDef="last_j">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Последнее место работы</th>
                    <td mat-cell *matCellDef="let result">{{result.last_job}}</td>
                </ng-container>

                <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <button mat-button *matCellDef="let result" (click)="info(result.id)">Инфо</button>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

        </div>

        <mat-paginator [length]="count" [pageSize]="20" showFirstLastButtons
                       (page)="loadPage($event)"></mat-paginator>
    </div>

</div>
