table {
    width: 100%;
}

.list-div-container {
    width: 90%;
    margin: 5%;
    position: relative;
}

.input {
    margin: 2%;
    position: relative;
}

.row {
    width: 180px;
    margin: 2%;
    position: relative;
}


.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 95%;
}

.mat-row.selected {
    background: #dddddd;
}
.mat-row:hover {
    background-color: #dddddd;
}
.mat-row{
    cursor: pointer;
}

.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.spinner-container mat-spinner {
    margin: 130px auto 1% auto;
}

.matcell {
    margin: 5% auto 5% auto;
}
